/* Remove drop-down arrow */
.dropdown-toggle:after {
    display: none;
}

/* Minimum Width */
html {
    min-width: 450px;
}

html, body {
    height: 100%;
}

.container-fluid {
    height: calc(100% - 56px);
}

.lsideb {
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
}

.rsideb {
    -ms-flex: 0 0 220px;
    flex: 0 0 220px;
}

.lsideb, .rsideb {
    background-color: #2C3237;
    margin: 0;
    padding: 10px;
}

.msideb {
    background-color: #383f45;
    padding: 0;
    overflow: auto;
} 

/* Color picker */
.color-picker {
    border-color: #212529;
    background-color: #f2f3f5;
    font-style: italic;
    height: 30px;
    line-height: 30px;
}

@media (max-width: 575px) {
    .lsideb {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        height: 50px;
    }

    .msideb {
        height: calc(100% - 270px);
    }

    .rsideb {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        height: 220px;
    }
}
